<a href="https://colab.research.google.com/github/lbarbozano/br-data-science/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
notas = pd.Series([2,7,5,10,6])
notas

0     2
1     7
2     5
3    10
4     6
dtype: int64

In [6]:
notas.values

array([ 2,  7,  5, 10,  6])

In [7]:
notas.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
notas = pd.Series([2,7,5,10,6], index=["Wilfred", "Abbie", "Harry", "Julia", "Carrie"])
notas

Wilfred     2
Abbie       7
Harry       5
Julia      10
Carrie      6
dtype: int64

In [9]:
notas["Julia"]

10

In [10]:
print("Média:", notas.mean())
print("Desvio padrão:", notas.std())

Média: 6.0
Desvio padrão: 2.9154759474226504

In [11]:
notas.describe()

count     5.000000
mean      6.000000
std       2.915476
min       2.000000
25%       5.000000
50%       6.000000
75%       7.000000
max      10.000000
dtype: float64

In [12]:
notas**2

Wilfred      4
Abbie       49
Harry       25
Julia      100
Carrie      36
dtype: int64

In [13]:
np.log(notas)

Wilfred    0.693147
Abbie      1.945910
Harry      1.609438
Julia      2.302585
Carrie     1.791759
dtype: float64

In [14]:
df = pd.DataFrame({'Aluno' : ["Wilfred", "Abbie", "Harry", "Julia", "Carrie"],
                   'Faltas' : [3,4,2,1,4],
                   'Prova' : [2,7,5,10,6],
                   'Seminário': [8.5,7.5,9.0,7.5,8.0]})
df

     Aluno  Faltas  Prova  Seminário
0  Wilfred       3      2        8.5
1    Abbie       4      7        7.5
2    Harry       2      5        9.0
3    Julia       1     10        7.5
4   Carrie       4      6        8.0

In [15]:
df.dtypes

Aluno         object
Faltas         int64
Prova          int64
Seminário    float64
dtype: object

In [16]:
df.columns

Index(['Aluno', 'Faltas', 'Prova', 'Seminário'], dtype='object')

In [17]:
df["Seminário"]

0    8.5
1    7.5
2    9.0
3    7.5
4    8.0
Name: Seminário, dtype: float64

In [18]:
df.describe()

        Faltas      Prova  Seminário
count  5.00000   5.000000    5.00000
mean   2.80000   6.000000    8.10000
std    1.30384   2.915476    0.65192
min    1.00000   2.000000    7.50000
25%    2.00000   5.000000    7.50000
50%    3.00000   6.000000    8.00000
75%    4.00000   7.000000    8.50000
max    4.00000  10.000000    9.00000

In [19]:
df.sort_values(by="Seminário")

     Aluno  Faltas  Prova  Seminário
1    Abbie       4      7        7.5
3    Julia       1     10        7.5
4   Carrie       4      6        8.0
0  Wilfred       3      2        8.5
2    Harry       2      5        9.0

In [20]:
df

     Aluno  Faltas  Prova  Seminário
0  Wilfred       3      2        8.5
1    Abbie       4      7        7.5
2    Harry       2      5        9.0
3    Julia       1     10        7.5
4   Carrie       4      6        8.0

In [21]:
df.loc[3]

Aluno        Julia
Faltas           1
Prova           10
Seminário      7.5
Name: 3, dtype: object

In [22]:
df[df["Seminário"] > 8.0]

     Aluno  Faltas  Prova  Seminário
0  Wilfred       3      2        8.5
2    Harry       2      5        9.0

In [23]:
df[(df["Seminário"] > 8.0) & (df["Prova"] > 3)]

   Aluno  Faltas  Prova  Seminário
2  Harry       2      5        9.0